@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Montserrat:400,700);
/* line 26, ../../../resources/assets/sass/admin/_settings.scss */
.color-1 {
  color: #51B55E; }

/* line 27, ../../../resources/assets/sass/admin/_settings.scss */
.color-2 {
  color: #AB9346; }

/* line 28, ../../../resources/assets/sass/admin/_settings.scss */
.color-3 {
  color: #45AB89; }

/* line 29, ../../../resources/assets/sass/admin/_settings.scss */
.color-4 {
  color: #779E4F; }

/* line 30, ../../../resources/assets/sass/admin/_settings.scss */
.color-5 {
  color: #B5B051; }

/* line 32, ../../../resources/assets/sass/admin/_settings.scss */
.font-1 {
  font-family: "Montserrat", sans-serif !important; }

/* line 33, ../../../resources/assets/sass/admin/_settings.scss */
.font-2 {
  font-family: "Open Sans", sans-serif !important; }

/* line 34, ../../../resources/assets/sass/admin/_settings.scss */
.font-3 {
  font-family: "Open Sans", sans-serif !important; }

/* line 35, ../../../resources/assets/sass/admin/_settings.scss */
.font-4 {
  font-family: "Open Sans", sans-serif !important; }

/* line 36, ../../../resources/assets/sass/admin/_settings.scss */
.font-5 {
  font-family: "Open Sans", sans-serif !important; }

/* line 44, ../../../resources/assets/sass/admin/_settings.scss */
html, body {
  background-color: #efefef;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #222;
  margin: 0;
  padding: 0; }
  /* line 53, ../../../resources/assets/sass/admin/_settings.scss */
  html *, body * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  /* line 58, ../../../resources/assets/sass/admin/_settings.scss */
  html a, body a {
    text-decoration: none;
    color: #51B55E; }
    /* line 61, ../../../resources/assets/sass/admin/_settings.scss */
    html a:hover, body a:hover {
      color: #AB9346; }
  /* line 66, ../../../resources/assets/sass/admin/_settings.scss */
  html hr, body hr {
    margin-top: 20px;
    clear: both;
    height: 1px;
    border: 0;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5); }
  /* line 75, ../../../resources/assets/sass/admin/_settings.scss */
  html p, body p {
    line-height: 160%; }
    /* line 77, ../../../resources/assets/sass/admin/_settings.scss */
    html p a, body p a {
      text-decoration: underline; }
    /* line 78, ../../../resources/assets/sass/admin/_settings.scss */
    html p a:hover, body p a:hover {
      color: #51B55E; }
  @media (min-width: 0px) {
    /* line 82, ../../../resources/assets/sass/admin/_settings.scss */
    html h1, body h1 {
      font-family: "Montserrat", sans-serif;
      color: #51B55E;
      font-size: 45px;
      font-weight: normal;
      margin: 25px 0 15px 0;
      line-height: 100%;
      letter-spacing: -0.055em; }
    /* line 83, ../../../resources/assets/sass/admin/_settings.scss */
    html h2, body h2 {
      font-family: "Montserrat", sans-serif;
      color: #AB9346;
      font-size: 30px;
      font-weight: normal;
      line-height: 100%;
      letter-spacing: -0.055em; }
    /* line 84, ../../../resources/assets/sass/admin/_settings.scss */
    html h3, body h3 {
      font-family: "Montserrat", sans-serif;
      color: #51B55E;
      font-size: 24px;
      font-weight: normal;
      margin: 20px 0 0 0;
      line-height: 100%;
      letter-spacing: -0.055em; }
    /* line 85, ../../../resources/assets/sass/admin/_settings.scss */
    html h4, body h4 {
      font-family: "Open Sans", sans-serif;
      color: #AB9346;
      font-size: 16px;
      font-weight: 700;
      line-height: 110%; }
    /* line 88, ../../../resources/assets/sass/admin/_settings.scss */
    html p, body p {
      margin: 10px 0 20px 0;
      letter-spacing: -0.022em; }
    /* line 90, ../../../resources/assets/sass/admin/_settings.scss */
    html h1:first-child, html h2:first-child, html h3:first-child, body h1:first-child, body h2:first-child, body h3:first-child {
      margin-top: 0; } }
  @media (min-width: 1100px) {
    /* line 97, ../../../resources/assets/sass/admin/_settings.scss */
    html h1, body h1 {
      font-size: 55px; }
    /* line 98, ../../../resources/assets/sass/admin/_settings.scss */
    html h2, body h2 {
      font-size: 30px; }
    /* line 99, ../../../resources/assets/sass/admin/_settings.scss */
    html h3, body h3 {
      font-size: 22px; }
    /* line 100, ../../../resources/assets/sass/admin/_settings.scss */
    html h4, body h4 {
      font-size: 18px; }
    /* line 103, ../../../resources/assets/sass/admin/_settings.scss */
    html p, body p {
      margin: 10px 0 20px 0; } }

/* line 2, ../../../resources/assets/sass/admin/_globals.scss */
.pagewrap {
  max-width: 1200px;
  width: 100%;
  *zoom: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2% 5%;
  margin: auto; }
  /* line 38, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .pagewrap:after {
    content: "";
    display: table;
    clear: both; }

/* line 11, ../../../resources/assets/sass/admin/_globals.scss */
form {
  margin: 0;
  *zoom: 1; }
  /* line 13, ../../../resources/assets/sass/admin/_globals.scss */
  form input, form textarea, form select {
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
    font-size: 14px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 61, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
    form input:-moz-placeholder, form textarea:-moz-placeholder, form select:-moz-placeholder {
      color: #999; }
    /* line 64, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
    form input::-moz-placeholder, form textarea::-moz-placeholder, form select::-moz-placeholder {
      color: #999; }
    /* line 67, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
    form input:-ms-input-placeholder, form textarea:-ms-input-placeholder, form select:-ms-input-placeholder {
      color: #999; }
    /* line 56, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
    form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder, form select::-webkit-input-placeholder {
      color: #999; }
  /* line 26, ../../../resources/assets/sass/admin/_globals.scss */
  form input[type=checkbox] {
    width: auto;
    display: inline-block;
    vertical-align: middle; }
  /* line 32, ../../../resources/assets/sass/admin/_globals.scss */
  form label {
    margin: 0;
    padding: 5px 0;
    display: inline-block;
    clear: both;
    vertical-align: middle; }
  /* line 40, ../../../resources/assets/sass/admin/_globals.scss */
  form textarea {
    height: 100px; }
    /* line 61, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
    form textarea:-moz-placeholder {
      color: #999; }
    /* line 64, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
    form textarea::-moz-placeholder {
      color: #999; }
    /* line 67, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
    form textarea:-ms-input-placeholder {
      color: #999; }
    /* line 56, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
    form textarea::-webkit-input-placeholder {
      color: #999; }
  /* line 48, ../../../resources/assets/sass/admin/_globals.scss */
  form .error span {
    display: block;
    padding: 5px;
    color: #ff0000; }
  /* line 49, ../../../resources/assets/sass/admin/_globals.scss */
  form .error input, form .error select, form .error textarea {
    border-color: #ff0000; }
  /* line 38, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  form:after {
    content: "";
    display: table;
    clear: both; }

/* line 58, ../../../resources/assets/sass/admin/_globals.scss */
button, input[type=submit], .btn, .btn-inverse {
  display: inline-block;
  background: #51B55E;
  padding: 9px 18px;
  color: #fff;
  outline: 0;
  cursor: pointer;
  border: 0;
  font-size: 13px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  width: auto; }
  /* line 71, ../../../resources/assets/sass/admin/_globals.scss */
  button.full-width, input[type=submit].full-width, .btn.full-width, .btn-inverse.full-width {
    width: 100%;
    text-align: center; }
  /* line 77, ../../../resources/assets/sass/admin/_globals.scss */
  button.hover-white:hover, input[type=submit].hover-white:hover, .btn.hover-white:hover, .btn-inverse.hover-white:hover {
    background: #fff;
    color: #51B55E; }
  /* line 83, ../../../resources/assets/sass/admin/_globals.scss */
  button:hover, input[type=submit]:hover, .btn:hover, .btn-inverse:hover {
    background: #AB9346;
    color: #fff; }

/* line 89, ../../../resources/assets/sass/admin/_globals.scss */
.btn-inverse, input[type=submit].btn-inverse {
  background-color: #AB9346;
  color: #51B55E; }
  /* line 93, ../../../resources/assets/sass/admin/_globals.scss */
  .btn-inverse:hover, input[type=submit].btn-inverse:hover {
    background: #51B55E;
    color: #fff; }
  /* line 99, ../../../resources/assets/sass/admin/_globals.scss */
  .btn-inverse.hover-white:hover, input[type=submit].btn-inverse.hover-white:hover {
    background: #fff;
    color: #51B55E; }

/* line 108, ../../../resources/assets/sass/admin/_globals.scss */
.row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 12, ../../../../../../../var/lib/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  .row:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 38, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .row:after {
    content: "";
    display: table;
    clear: both; }

/* line 115, ../../../resources/assets/sass/admin/_globals.scss */
.cols-2 {
  width: 15.25424%;
  float: left;
  margin-left: 1.69492%; }
  /* line 117, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-2:first-child {
    margin-left: 0; }

/* line 115, ../../../resources/assets/sass/admin/_globals.scss */
.cols-3 {
  width: 23.72881%;
  float: left;
  margin-left: 1.69492%; }
  /* line 117, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-3:first-child {
    margin-left: 0; }

/* line 115, ../../../resources/assets/sass/admin/_globals.scss */
.cols-4 {
  width: 32.20339%;
  float: left;
  margin-left: 1.69492%; }
  /* line 117, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-4:first-child {
    margin-left: 0; }

/* line 115, ../../../resources/assets/sass/admin/_globals.scss */
.cols-5 {
  width: 40.67797%;
  float: left;
  margin-left: 1.69492%; }
  /* line 117, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-5:first-child {
    margin-left: 0; }

/* line 115, ../../../resources/assets/sass/admin/_globals.scss */
.cols-6 {
  width: 49.15254%;
  float: left;
  margin-left: 1.69492%; }
  /* line 117, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-6:first-child {
    margin-left: 0; }

/* line 115, ../../../resources/assets/sass/admin/_globals.scss */
.cols-7 {
  width: 57.62712%;
  float: left;
  margin-left: 1.69492%; }
  /* line 117, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-7:first-child {
    margin-left: 0; }

/* line 115, ../../../resources/assets/sass/admin/_globals.scss */
.cols-8 {
  width: 66.10169%;
  float: left;
  margin-left: 1.69492%; }
  /* line 117, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-8:first-child {
    margin-left: 0; }

/* line 115, ../../../resources/assets/sass/admin/_globals.scss */
.cols-9 {
  width: 74.57627%;
  float: left;
  margin-left: 1.69492%; }
  /* line 117, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-9:first-child {
    margin-left: 0; }

/* line 115, ../../../resources/assets/sass/admin/_globals.scss */
.cols-10 {
  width: 83.05085%;
  float: left;
  margin-left: 1.69492%; }
  /* line 117, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-10:first-child {
    margin-left: 0; }

/* line 115, ../../../resources/assets/sass/admin/_globals.scss */
.cols-11 {
  width: 91.52542%;
  float: left;
  margin-left: 1.69492%; }
  /* line 117, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-11:first-child {
    margin-left: 0; }

@media screen and (min-width: 1200px) {
  /* line 125, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-2 {
    width: 15.25424%;
    float: left;
    margin-left: 1.69492%; }
    /* line 127, ../../../resources/assets/sass/admin/_globals.scss */
    .cols-2:first-child {
      margin-left: 0; }

  /* line 125, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-3 {
    width: 23.72881%;
    float: left;
    margin-left: 1.69492%; }
    /* line 127, ../../../resources/assets/sass/admin/_globals.scss */
    .cols-3:first-child {
      margin-left: 0; }

  /* line 125, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-4 {
    width: 32.20339%;
    float: left;
    margin-left: 1.69492%; }
    /* line 127, ../../../resources/assets/sass/admin/_globals.scss */
    .cols-4:first-child {
      margin-left: 0; }

  /* line 125, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-5 {
    width: 40.67797%;
    float: left;
    margin-left: 1.69492%; }
    /* line 127, ../../../resources/assets/sass/admin/_globals.scss */
    .cols-5:first-child {
      margin-left: 0; }

  /* line 125, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-6 {
    width: 49.15254%;
    float: left;
    margin-left: 1.69492%; }
    /* line 127, ../../../resources/assets/sass/admin/_globals.scss */
    .cols-6:first-child {
      margin-left: 0; }

  /* line 125, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-7 {
    width: 57.62712%;
    float: left;
    margin-left: 1.69492%; }
    /* line 127, ../../../resources/assets/sass/admin/_globals.scss */
    .cols-7:first-child {
      margin-left: 0; }

  /* line 125, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-8 {
    width: 66.10169%;
    float: left;
    margin-left: 1.69492%; }
    /* line 127, ../../../resources/assets/sass/admin/_globals.scss */
    .cols-8:first-child {
      margin-left: 0; }

  /* line 125, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-9 {
    width: 74.57627%;
    float: left;
    margin-left: 1.69492%; }
    /* line 127, ../../../resources/assets/sass/admin/_globals.scss */
    .cols-9:first-child {
      margin-left: 0; }

  /* line 125, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-10 {
    width: 83.05085%;
    float: left;
    margin-left: 1.69492%; }
    /* line 127, ../../../resources/assets/sass/admin/_globals.scss */
    .cols-10:first-child {
      margin-left: 0; }

  /* line 125, ../../../resources/assets/sass/admin/_globals.scss */
  .cols-11 {
    width: 91.52542%;
    float: left;
    margin-left: 1.69492%; }
    /* line 127, ../../../resources/assets/sass/admin/_globals.scss */
    .cols-11:first-child {
      margin-left: 0; } }
/* line 9, ../../../resources/assets/sass/admin/_setup.scss */
body#template-admin header#template {
  position: relative;
  display: block;
  background: #fff;
  height: 72px;
  overflow: hidden;
  *zoom: 1; }
  /* line 16, ../../../resources/assets/sass/admin/_setup.scss */
  body#template-admin header#template .logo {
    background: url("../images/logo.png");
    display: block;
    width: 163px;
    height: 65px;
    margin: 18px 20px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    font-size: 30px; }
  /* line 29, ../../../resources/assets/sass/admin/_setup.scss */
  body#template-admin header#template nav {
    float: right;
    margin: 12px 20px; }
    /* line 32, ../../../resources/assets/sass/admin/_setup.scss */
    body#template-admin header#template nav ul {
      padding: 0;
      list-style: none; }
    /* line 33, ../../../resources/assets/sass/admin/_setup.scss */
    body#template-admin header#template nav li {
      font-size: 18px;
      margin-left: 10px;
      display: inline-block; }
      /* line 34, ../../../resources/assets/sass/admin/_setup.scss */
      body#template-admin header#template nav li a {
        font-family: "Open Sans", sans-serif;
        color: #51B55E; }
  /* line 38, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  body#template-admin header#template:after {
    content: "";
    display: table;
    clear: both; }
/* line 44, ../../../resources/assets/sass/admin/_setup.scss */
body#template-admin aside#template {
  position: absolute;
  display: block;
  background: #51B55E;
  top: 72px;
  left: 0;
  bottom: 0;
  width: 180px;
  overflow: hidden; }
  /* line 54, ../../../resources/assets/sass/admin/_setup.scss */
  body#template-admin aside#template .user-info {
    margin: 20px 20px; }
    /* line 56, ../../../resources/assets/sass/admin/_setup.scss */
    body#template-admin aside#template .user-info h2, body#template-admin aside#template .user-info h5 {
      color: #fff;
      margin: 0; }
    /* line 57, ../../../resources/assets/sass/admin/_setup.scss */
    body#template-admin aside#template .user-info h2 {
      font-size: 20px; }
    /* line 58, ../../../resources/assets/sass/admin/_setup.scss */
    body#template-admin aside#template .user-info h5 {
      opacity: 0.6; }
  /* line 62, ../../../resources/assets/sass/admin/_setup.scss */
  body#template-admin aside#template nav ul {
    padding: 0; }
    /* line 64, ../../../resources/assets/sass/admin/_setup.scss */
    body#template-admin aside#template nav ul li {
      display: block;
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      text-align: right; }
  /* line 71, ../../../resources/assets/sass/admin/_setup.scss */
  body#template-admin aside#template nav a {
    display: block;
    color: #fff;
    font-weight: 700;
    padding: 8px 40px;
    opacity: 0.6; }
  /* line 78, ../../../resources/assets/sass/admin/_setup.scss */
  body#template-admin aside#template nav a:hover {
    opacity: 1; }
/* line 84, ../../../resources/assets/sass/admin/_setup.scss */
body#template-admin section#template-content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border-top: 1px solid #ddd;
  display: block;
  top: 72px;
  left: 180px;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 1.75% 1.75%; }
  /* line 12, ../../../../../../../var/lib/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
  body#template-admin section#template-content:after {
    content: " ";
    display: block;
    clear: both; }

/* line 98, ../../../resources/assets/sass/admin/_setup.scss */
section.panel {
  margin-top: 0.86%;
  margin-bottom: 0.86%;
  background: #fff;
  border: 1px solid #ddd;
  padding: 40px;
  box-sizing: border-box; }
  /* line 105, ../../../resources/assets/sass/admin/_setup.scss */
  section.panel h2 {
    margin: 0;
    margin-bottom: 20px; }
  /* line 106, ../../../resources/assets/sass/admin/_setup.scss */
  section.panel h3 {
    margin: 20px 0;
    font-size: 16px; }
  /* line 107, ../../../resources/assets/sass/admin/_setup.scss */
  section.panel .content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    /* line 12, ../../../../../../../var/lib/gems/2.1.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
    section.panel .content:after {
      content: " ";
      display: block;
      clear: both; }
  /* line 108, ../../../resources/assets/sass/admin/_setup.scss */
  section.panel table.list {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; }
    /* line 112, ../../../resources/assets/sass/admin/_setup.scss */
    section.panel table.list th, section.panel table.list td {
      border-bottom: 1px solid #ddd;
      padding: 2%;
      text-align: left; }
      /* line 116, ../../../resources/assets/sass/admin/_setup.scss */
      section.panel table.list th img, section.panel table.list td img {
        max-width: 100px;
        max-height: 50px; }
    /* line 121, ../../../resources/assets/sass/admin/_setup.scss */
    section.panel table.list th {
      padding-bottom: 1%; }
