header#main {
    background-color:$color1;
    color:#fff;
    a{color:#fff;}

    font-size:20px;
    font-weight: 700;
    background-image:url(../images/bg_red.jpg);
    background-size:100%;
    background-position: 50%;
    span{
        margin-top:15px;
        margin-right: 20px !important;
    }
}

header#home {
    position: relative;
    width:100%;
    background: #f3f3f3;
    height: 400px;
    //background-image:url(../images/bg_red.jpg);
    background-size:350%;
    background-position: 50% 80%;
    border-bottom: 1px solid #eee;
    h1, h2{
        text-align: center;
        margin:0;
        color:$color2;
        font-size:35px;
    }
    h1{color:$color1; margin-bottom:20px; font-size:75px; font-weight: bold;}
    .wrapper {
        @include centerElement('both');
        width: 90%;
    }
}

section#features{
    @include container();


    .feature {
        @include box-sizing();
        position: relative;
        @include gallery(4 of 12);
        padding:20px;
        text-align: left;
        border:2px solid $color1;
        height: 130px;
        margin-top:20px;
        .title {
            font-size:30px;
        }
        .excerpt {
            margin:10px 0;
        }
        .btn {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

aside#home {
    @include span(0 of 12);
}

section#latest-posts{
    @include span(12 of 12 last);
    margin:20px 0;
    h2{
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }
    .post {

        position: relative;
        margin: 10px 0;
        padding: 10px 0 40px 0;
        border-bottom: 1px solid #eee;
        .excerpt {
            margin:10px 0;
            font-size: 13px;
        }
        h2, h3 {margin: 9px 0; border:0; padding:0;}
        h2{
            font-size:25px;
            font-weight: bold;
        }
        h3{
            font-size:16px;
        }
        .btn {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

section.post.shortcode {
    width: 75%;
    background: #eee;
    border:1px solid #ddd;
    box-sizing: border-box;
    padding:20px;
    margin:10px 0;
    .title {
        font-size:18px;
    }
}

#page-content {
    padding:30px 0;
    h1 {margin-bottom:10px;}
    h2 {margin-top: 10px;}
}
